# Générer avec : node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=changeme
ADMIN_SECRET=changeme
DB_PASS=changeme
CONTACT_EMAIL=bonjour@assolyte.fr
VITE_API_URL=https://api.assolyte.fr
